* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
}

ul {
	list-style: none;
	/*display: flex;*/
}

li {
	display: flex;
	flex-direction: row;
}

#wrapper {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding-top: 10px;
}

/*----------------------------------------------------------------------- 
	Top Social 
-----------------------------------------------------------------------*/
#top-social {
	display: flex;
	justify-content: flex-end;
}

.fa {
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 10px;
	margin-left: 8px;
	font-size: 1.7em;
	border-bottom: 3px solid rgba(130, 129, 126, 0.6);
}

.fa-facebook-f {
	background: #445897;
	color: #7482b1;

}

.fa-rss {
	background: #cf923a;
	color: #d9ac62;
}

.fa-twitter {
	background: #698cc7;
	color: #90a8d4;
}

.fa-youtube {
	background: #b2382d;
	color: #c06b62;
}
/* end */

/*----------------------------------------------------------------------- 
	Navigation 
-----------------------------------------------------------------------*/
#navigation {
	display: flex;
	justify-content: space-between;
	position: relative;
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
	text-transform: uppercase;
}

.nav {
	width: 240px;
  height: 39px;
  background: #b42a2f;
  text-align: center;
  line-height: 0;
  border-bottom: 4px solid rgba(130, 129, 126, 0.9);
}

.nav::before, .nav::after {
	content: "—";
	font-weight: bold;
	padding: 0 10px;
}

/*.nav::before {
	padding: 0 10px;	
}

.nav::after {
	padding: 20px;
}*/
/* end */

/*----------------------------------------------------------------------- 
	Hero Image	 
-----------------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 300px;
	border: 10px solid #fbfbfb;
	margin-top: 20px;
	display: block;
	object-position: center;
	object-position: -379px -186px;
	object-fit: none;
	background-image: url("images/peralta-logo.png"), url("images/grid.png"), url("top-image.png");
	background-repeat: no-repeat;
	overflow: auto;
	border-bottom: 4px solid rgba(130, 129, 126, 0.9);
}
/* end */

/*----------------------------------------------------------------------- 
	News
-----------------------------------------------------------------------*/
h2 {
	color: #393937;
}
h5 {
	font-size: 12px;
	color: #a6a6a6;
}

#news {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 0;
}

.card {
	background: #fff;
	max-width: 320px;
	max-height: 350px;
	padding: 20px;
	border-bottom: 4px solid rgba(130, 129, 126, 0.9);
}

.read-more {
	text-transform: uppercase;
	color: #b32b2d;
}

.read-more::before {
	content: "[";
} 

.read-more::after {
	content: "]";
}
/* end */

/*----------------------------------------------------------------------- 
	Skateboarders
-----------------------------------------------------------------------*/
#skateboarders {
	width: 1000px;
	margin-top: 20px;
}

.dudes {
	width: 300px;
  height: 100px;
  text-align: center;
  border: 5px solid #fbfbfb;
  color: white;
  line-height:100px;
  float:left;



	/*background:#000;*/
  color:#FEFCFF;
  line-height:1;
  height:200px;
  
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 60px;
  text-align: center;
}

#skateboarders #lance {
	height:230px;
	background-image: url("images/sk8er-4.png"); 
	/*background-position: -209px 0;*/
	background-repeat: no-repeat;
	background-size: cover;
}

#skateboarders #rodney {
	height:230px;
	background-image: url("images/sk8er-3.png"); 
	/*background-position: -17px -3px;*/
	background-repeat: no-repeat;
	margin-left: 12px;
	background-size: cover;
}

#skateboarders #steve {
	background-image: url("images/sk8er-1.png"); 
  clear:left;
  height: 230px;
  /*background-position: 12px -55px;*/
  background-repeat: no-repeat;
  margin-top: -19px;
	width: 652px;
}

#skateboarders #tommy {
	background-image: url("images/sk8er-2.png"); 
	height:500px;
	line-height:47px;
	/*background-position: -600px -1px;*/
	background-repeat: no-repeat;
	margin: -235px 0 0 12px;
	float: right;
	background-size: cover;
}
/* end */

/*----------------------------------------------------------------------- 
	Boards
-----------------------------------------------------------------------*/
#boards {
	width: 1000px;
	display: flex;
	justify-content: space-around;
	background: #fff;
	margin: 10px 0;
	padding: 20px 0 20px 0;
	border-bottom: 4px solid rgba(130, 129, 126, 0.9);
}

.skateboard {
	margin: 0 6px
}
/* end */

/*----------------------------------------------------------------------- 
	Contact
-----------------------------------------------------------------------*/
#contact {
	background: #fff;
	display: flex;
	justify-content: space-around;
	margin: 20px 0 30px;
	border-bottom: 4px solid rgba(130, 129, 126, 0.9);
}

#contact-text {
	/*border: 3px solid green;*/
	max-width: 400px;
	width: 100%;
	margin: 10px;
	padding: 10px;
	line-height: 25px;
}

#bottom-social {
	display: flex;
	justify-content: space-between;
	width: 110px;
	text-align: center;
	line-height: 20px;
}

#bottom-social .fa {
	width: 30px;
	height: 30px;
	text-align: center;
	/*padding: 10px;*/
	/*margin-left: 8px;*/
	font-size: 1.3em;
	border-bottom: none;
}

#bottom-social .fa-facebook-f {
	filter: grayscale(100%);
}

#bottom-social .fa-rss {
	filter: grayscale(100%);
}

#bottom-social .fa-twitter {
	filter: grayscale(100%);
}

#bottom-social .fa-youtube {
	filter: grayscale(100%);
}

#user-info {
	max-width: 400px;
	margin: 10px;
	padding: 10px;
}

input {
	width: 300px;
	height: 30px;
	padding: 5px;
	margin-top: 15px;
	border-left: 4px solid #b2b2b2;
	border-top: 4px solid #b2b2b2;
}

textarea{
	width: 300px;
	height: 100px;
	margin-top: 15px;
	border-top: 4px solid #b2b2b2;
	border-left: 4px solid #b2b2b2;
}

#submit {
	border-radius: 0;
  background: #AB2429;
  color: white;
  width: 170px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 20px;
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
}

::placeholder {
	text-transform: uppercase;
}
/* end */