body {
	background: #000;
	/*background-image: url("images/bg.jpg");*/
	background-repeat: no-repeat;
	background-size: 100%;

	display: flex;
	justify-content: center;
}

ul {
	list-style: none;
	display: flex;
}

#wrapper {
	border: 3px solid red;
	max-width: 1000px;
	position: relative;
}

/*----------------------------------------------------------------------- 
	Top Social 
-----------------------------------------------------------------------*/
#top-social {
	border: 3px solid blue;
	float: right;
}

.top-social {
	border: 3px solid green;
}
/* end */

/*----------------------------------------------------------------------- 
	Navigation 
-----------------------------------------------------------------------*/
nav {
	border: 3px solid blue;
}

.nav {
	color: #fff;
	text-transform: uppercase;
	background: #b42a2f;
	flex-direction: row;
}

.nav::before, .nav::after {
	content: "—";
	font-weight: bold;
}
/* end */

/*----------------------------------------------------------------------- 
	Hero Image	 
-----------------------------------------------------------------------*/
#hero {
	display: block;
	width: 100%;
	border: 3px solid blue;
}
/* end */


/*----------------------------------------------------------------------- 
	News
-----------------------------------------------------------------------*/
#news {
	display: flex;
	flex-direction: row;
	border: 3px solid blue;
}

article {
	border: 3px solid green;
	background: #fff;
}

.read-more {
	text-transform: uppercase;
	color: #b32b2d;
}

.read-more::before {
	content: "[";
} 

.read-more::after {
	content: "]";
}
/* end */

/*----------------------------------------------------------------------- 
	Skateboarders
-----------------------------------------------------------------------*/
#skateboarders {
	border: 3px solid blue;
}

#skateboarders img {
	border: 3px solid green;
}

.tommy {
	float: right;

}
/* end */

/*----------------------------------------------------------------------- 
	Boards
-----------------------------------------------------------------------*/
#boards {
	border: 3px solid blue;
}

.skateboard {
	border: 3px solid green;	
}
/* end */

/*----------------------------------------------------------------------- 
	Contact
-----------------------------------------------------------------------*/
#contact {
	border: 3px solid blue;
	background: #fff;
}

#contact-text {
	border: 3px solid green;
}

#user-info {
	border: 3px solid green;
}

::placeholder {
	text-transform: uppercase;
}
/* end */